mixin extraStyle(filename)
	link(href=filename, rel="stylesheet", type="text/css")
doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		title 重复字符串
		+extraStyle('../css/bootstrap.min.css')
		+extraStyle('../css/railscasts.css')
		+extraStyle('../css/style.css')
		link(rel="shortcut icon" href="../ico/favicon.ico")
		script(type="text/javascript").
			var basePath = '../';
			(function(){MX=window.MX||{};var g=function(a,c){for(var b in c)a.setAttribute(b,c[b])};MX.load=function(a){var c=a.js,b=c?".js":".css",d=-1==location.search.indexOf("jsDebug"),e=a.js||a.css;-1==e.indexOf("http://")?(e=(a.path||window.basePath)+((c?"js/":"css/")+e)+(!d&&!c?".source":""),b=e+(a.version?"_"+a.version:"")+b):b=e;d||(d=b.split("#"),b=d[0],b=b+(-1!=b.indexOf("?")?"&":"?")+"r="+Math.random(),d[1]&&(b=b+"#"+d[1]));if(c){var c=b,h=a.success,f=document.createElement("script");f.onload=function(){h&&h();f=null};g(f,{type:"text/javascript",src:c,async:"true"});document.getElementsByTagName("head")[0].appendChild(f)}else{var c=b,i=a.success,a=document.createElement("link");g(a,{rel:"stylesheet"});document.getElementsByTagName("head")[0].appendChild(a);g(a,{href:c});i&&(a.onload=function(){i()})}}})();
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					em.logo
					a.navbar-brand(href="http://jansesun.github.io/") Valley of Ghosts
		main.container
			header.title 思考题 重复字符串
			.post-date 16 May 2016
			section
				p
					a(href="https://github.com/jansesun" target="_blank") jansesun
					| 原创，转载请注明
					a(href="http://jansesun.github.io/thinkInJs/repeatString.html") 出处
				p 之前在UESTC前端群里跟一些朋友分享了一些javascript的思考题，旨在促进群内技术讨论，共同进步。期间不乏思维的火花，一直想将这些宝贵的财富沉淀下来，以便日后翻阅。
				p String.prototype.repeat是ES2015(ES6)新加的方法，对于要兼容各种浏览器的苦逼前端来说，想尝鲜就必须写polyfill，而且在没有这个方法之前我们也经常需要用到类似的方法来将某些数位补0等。
				p 重复字符串
				pre
					code.
						String.prototype.repeat = String.prototype.repeat || function(n) {
							return Array(n + 1).join(this);
						}
				p 按位补齐
					| 这个方案在ES2017中已经提上日程了，将来可以用
					a(href="http://www.2ality.com/2015/11/string-padding.html" target="_blank") String.prototype.padStart
					| 补齐
				pre
					code.
						String.prototype.padStart = String.prototype.padStart || function(maxLength, fillString = ' ') {
							let str = '' + this;
							if(str.length >= maxLength) {
								return str;
							}
							fillString = ('' + fillString) || ' ';
							let fillLen = maxLength - str.length;
							let times2Repeat = Math.ceil(fillLen / fillString.length);
							return fillString.repeat(times2Repeat).slice(0, fillLen) + str;
						}
				p 按位补零
				p 按位补零当然可以用上面的padStart, 当然补0可以更加简单
				pre
					code.
						function addZero(str, maxLength) {
							return ('' + str).padStart(maxLength, 0);
						}
				p 按位补零定制版
				pre
					code.
						function addZero(str, maxLength) {
							let str = '' + str;
							if(str.length >= maxLength) {
								return str;
							}
							return '0'.repeat(maxLength - str.length) + str;
						}
				p 每次写这种主题的时候就想口诛笔伐万恶的浏览器厂商，什么时候才能一统天下，解放前端劳苦大众呢？
				script(type="text/javascript").
					MX.load({
						js: 'lib/require',
						version: '160106',
						success: function() {
							requirejs(['jquery', 'hljs'], function($, hljs) {
								// 语法高亮
								hljs.configure({
									tabReplace: '    '
								});
								$('pre code').each(function() {
									hljs.highlightBlock(this);
								});
							});
						}
					});
